{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <div class="homepage">
        <div class="about-us">
            <h2>
                About Us
            </h2>
            <h3>
                We are Alpha Health
            </h3>
            <p> Established in 2030 <br> Alpha Health has launched multiple software to empower health system</p>
            <p> Helping over <span style="color: purple; font-weight: 600; font-size: 2vw;">10 million</span> patients and their families
                <br> Alpha Health is thriving to improve overall wellbeing of Humanity </p>
        </div>
    </div>
{% endblock %}

{% block main %}

{% endblock %}
